
.container-drag {
    text-align: center;
}

.container-drag-block{
    display: flex;
justify-content: space-between;
}

.wip {
    /*position: absolute;*/
    width: 100%;
    height: 100vh;
    left: 0;
    top: 10;
    background-color: #EEEEEE;
    border-right: 1px dotted;
}

.header {
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: #E0E0E0;
    width:100%;
}

.task-header {
    display: inline-block;
    background-color: #505050;
    margin-bottom: 10px;
    width:100%;
    height: 40px;
    color: #EEEEEE;
}

.droppable {
    /*position: absolute;*/
    width: 100%;
    height: 100vh;
    right: 0;
    top: 10;
    background-color: #9E9E9E;
    border-left: 1px dotted;
}
.droppable03 {
    /*position: absolute;*/
    width: 100%;
    height: 100vh;
    left: 25%;
    top: 10;
    background-color: #E0E0E0;
    border-left: 1px dotted;
}

.draggable {
    width: 100px;
    height: 100px;
    background-color: yellow;
    margin: 5px auto;
    line-height: 5em;
}
.input-class-with-button{
    padding: 25px;
    display: flex;
}
.wrapper-draggable{
    background-color: #9E9E9E;
}
.box-for-task{
    margin: 5px;
    padding: 5px;
    background-color: white;
    border: 1px solid #4b4b4b;
    border-radius: 2%;
    display: flex;
    justify-content: space-between;
}
